$primary-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
.navbar-gradient {
  background: $primary-gradient;
  border-radius: 0 0 15px 15px;
  color: white;

  .navbar-brand {
    font-size: 1.5rem;
  }

  a,
  button {
    color: #fff;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
